{% extends "base.html" %}

{% block title %}webディレクターブログとは？ - webディレクターブログ{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'top' %}">Home</a><span class="arrow"></span></li>
<li><a href="">webディレクターブログとは？</a></li>
{% endblock breadcrumbs %}

{% block content %}
<article class="article article-post">
    <div class="article-date">2018年1月1日</div>
    <section class="article-container">
        <div class="article-h1">
            <h1 class="article-title">webディレクターブログとは？</h1>
        </div>
        <div class="article-contents">
            <h2 class="init-h2">なぜやっているのか？</h2>
            <p>僕は自分が面白いと思うwebサービスをたくさん作りたいです。そのため、このブログは自分の思考の整理と備忘録を目的に更新しております。</p>
            <p>webサービス開発に直接関係ない政治・経済・社会問題などについても記事を書いてます。あらゆる情報や知識が面白いから、一見関係ないことにも幅広げてしまってます。webディレクターブログという名のブログですがwebディレクター向けの記事にはしてません。ご了承ください笑。</p>
            <p>主目的は自らのアウトプットとしてのブログですが、webに公開することで、自分のモチベーションを上げることと、ほんの少しでも誰かの役に立てるようになるようになれればと思ってます。</p>
            <p>お手柔らかにどうぞよろしくお願いいたします。</p>
            <h2 class="init-h2">自己紹介</h2>
            <p>平成生まれのゆとり世代。大学卒業後、webディレクターやwebマーケティング、webアナリストを6年間やってます。今後は自分で好き勝手に作ったほうが楽しいという理由で退職し、個人事業主として節約しながら地道にwebサービスやアプリを作っていこうと画策中。フィリピンかバンコクでの海外ノマド生活も検討中。</p>
            <h3>プログラム言語</h3>
            <ul>
                <li>Python(Django,DeepLearningはかじった程度)</li>
                <li>JavaScript,Vue.js,AppsScript</li>
                <li>Swift</li>
            </ul>
            <h3>利用実績</h3>
            <ul>
                <li>GoogleAnalytics</li>
                <li>GoogleAdwords</li>
                <li>Yahooスポンサードサーチ</li>
                <li>Facebook/Twitter広告</li>
                <li>GoogleTagManager</li>
                <li>BigQuery</li>
                <li>redash</li>
            </ul>
            <p>※GoogleAnalyticsやAdwordsはAPI使って自動レポート機能作成もしてました。</p>
            <h3>ポートフォリオ</h3>
            <ul>
                <li><a href="{% url 'top' %}">webディレクターブログ</a></li>
            </ul>
        </div>
    </section>
</article>
{% endblock content %}