{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "お問い合わせ" %} - {% trans "webディレクターブログ" %}{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'blog:top' %}">Home</a><span class="arrow"></span></li>
<li><a href="">{% trans "お問い合わせ" %}</a></li>
{% endblock breadcrumbs %}

{% block content %}
<article class="article">
    <h1 class="article-list-h1">{% trans "お問い合わせ" %}</h1>
    <form method="post" class="contact-form">
        {% csrf_token %}
        <dl>
            {{ form.title.errors }}
            <dt>
                <label for="id_title">{% trans "件名" %}<span class="form-must-icon">{% trans "必須" %}</span></label>
            </dt>
            <dd>
                {{ form.title }}
            </dd>
        </dl>

        <dl>
            <dt>
                <label for="id_email">{% trans "メールアドレス" %}<span class="form-must-icon">{% trans "必須" %}</span></label>
            </dt>
            <dd>{{ form.email }}</dd>
        </dl>

        <dl>
            <dt>
                <label for="id_puroose">{% trans "目的" %}<span class="form-must-icon">{% trans "必須" %}</span></label>
            </dt>
            <dd class="checkbox">
                {{ form.choice.errors }}
                {{ form.choice }}
            </dd>
        </dl>

        <dl>
            <dt>
                <label for="id_message">{% trans "お問い合わせ内容" %}<span class="form-must-icon">{% trans "必須" %}</span></label>
            </dt>
            <dd>{{ form.message }}</dd>
        </dl>

        <div class="contact-submit-container">
            <input type='submit' value='{% trans "送信する" %}' class="contact-submit">
        </div>
    </form>
</article>
{% endblock content %}