Django==2.0
django-betterforms==1.2
django-cleanup==2.1.0
django-filter==1.1.0
django-markdown-deux==1.0.5
django-markdownx==2.0.28
djangorestframework==3.8.2
ez-setup==0.9
Markdown==3.1
markdown2==2.3.5
mod-wsgi==4.6.4
mysqlclient==1.4.2.post1
numpy==1.16.4
Pillow==5.1.0
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2018.4
six==1.12.0
sqlparse==0.3.0
ua-parser==0.8.0
user-agents==1.1.0