/*  ------------------- reset css start ------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a {
    text-decoration: none;
}
/*  ------------------- reset css end ------------------- */


/*  ------------------- orinal css start ------------------- */

html {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

/*  - header start - */

.header {
    border-top: 5px solid #3398e2;
}

.header-wrap {
    width: 1050px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden
}

.site-name {
    float: left;
    margin: 0px 0px 10px;
    padding: 10px 0;
}

.site-name p {
    margin: 0;
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.logo {
    text-align: center;
}

.site-navi {
    float: right;
    padding: 29px 0;
}

.site-about li {
    float: left;
    margin: 0 20px;
    font-size: 12px;
}

.category-wrap {
    background: #f3f3f3;
    height: 40px;
    margin-top: 2px;
    box-shadow: 0 0 1px #333;
}

.category-navi {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.category-navi ul {
    list-style-type: none;
    margin: 0 50px;
    height: 40px;
    padding: 0;
}

.category-navi ul li {
    float: left;
    font-size: 15px;
    width: 160px;
    text-align: center;
    height: 43px;
    font-weight: bold;
    color: #000;
}

.category-navi ul li a {
    display: block;
    padding: 13px;
    text-decoration: none;
}

.category_selected {
    border-bottom: 3px solid #3398e2;
    position: relative;
    top: -2px;
}

/*  - header end - */

/*  - main-content start - */

.container {
    overflow: hidden;
}

.main-content {
    width: 1050px;
    margin: auto;
}

.breadcrumbs {
    padding: 15px 0px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.breadcrumbs li {
    float: left;
}

.arrow {
    height: 16px;
    display: block;
    float: right;
    margin: 0 5px;
}

.arrow:after {
    content: ">";
    font-size: 10px;
    color: #c3c3c3;
}

.article {
    margin-bottom: 65px;
    float: left;
    width: 700px;
}

.article-post {
    box-shadow: 0 0 1px #333;
    /*font-family: "メイリオ", "Meiryo", "Georgia", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro W4", "Hiragino Maru Gothic Pro", "Osaka", sans-serif;*/
}

.article-container {
    padding: 50px 15px 10px;
    overflow: hidden;
}

.article-detail {
    overflow: hidden;
    position: relative;
    left: -8px;
}

.article-date {
    position: relative;
    top: 10px;
    border-left: 2px solid #000;
    padding: 4px 0px 4px 20px;
    background: #333333;
    color: #fff;
    font-size: 15px;
    width: 140px;
}

.article-post .article-date {
    left: -8px;
}

.article-date:before {
    content: "";
    position: absolute;
    top: 100%;
    left: -2px;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
}

.article-category {
    background-color: #ddd;
    background: #2a8fe0c4;
    color: #fff;
    font-size: 14px;
    padding: 4px 10px;
    float: right;
    position: relative;
    top: -13px;
    left: -5px;
    font-weight: bold;
}

.article-h1 {
    border-bottom: 1px solid silver;
}

.article-title {
    margin: -15px 0 15px 0;
    font-size: 30px;
    color: #222;
    line-height: 40px;
}

.init-h2 {
    margin-top: 10px !important;
}

.article-contents h2 {
    font-size: 24px;
    margin: 40px -10px 20px 0px;
    padding: 15px 10px 15px 15px;
    color: rgb(51, 51, 51);
    background: #e3effb;
    position: relative;
    right: 5px;
}

.article-contents p {
    line-height: 36px;
    font-size: 17px;
    word-break: break-all;
    margin-bottom: 60px;
}

.article-contents h3 {
    margin: 30px 0px 20px;
    font-size: 22px;
}

.article-contents ul {
  color: #668ad8;
  border: dashed 2px #668ad8;
  background: #f1f8ff;
  padding: 0.5em 0.5em 0.5em 2em;
  position: relative;
  margin: 40px 0 70px;
}

.article-contents ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
  margin-left: 10px;
}

.article-contents ul li a {
  text-decoration: underline;
}

.article-contents ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "✔︎";
  position: absolute;
  left : 1em;
  color: #668ad8;
}
.article-contents ul li:after {
  background: #2d8fdd;
  color: #fff;
  font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: 'Check';
  letter-spacing: 0.05em;
  }

.article-contents ol {
    padding: 0.5em 0 0.5em 1.5em;
    list-style: decimal;
}

.article-contents ol li {
    line-height: 1.5;
    padding: 5px 0;
}

.article-image-container {
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

.article-contents img {
    width: auto;
    margin: 10px 0;
    max-height: 400px;
    max-width: 1000px;
}

pre.prettyprint {
      padding: 10px 2px !important;
      border: 1px solid #E1E1E8  !important;
      display: block;
      overflow: auto;
      width: auto;
      white-space: pre;
      word-wrap: normal;
      background-color: #F7F7F9;
      font-size: 15px;
      margin: 10px 0;
      line-height: 24px;
}

.code-simple {
    background: #efefef;
    color: #d84e8b;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 15px;
}

/* .code-multi {
    background: #333;
    color: #fff;
    display: block;
    padding: 10px;
} */

.article-taglist {
    overflow: hidden;
    margin-top: 35px;
}

.article-taglist ul {
    margin-left: -25px;
    float: right;
}

.article-taglist ul li {
    float: left;
}

.article-taglist ul li a {
    background: #434343;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 7px 13px;
    display: block;
}

.sns-button {
    overflow: hidden;
    margin: 15px 0 5px;
}

.sns-button ul li {
    float: left;
    margin: 0 5px;
}


.article-list-item {
    margin-bottom: 30px;
    width: 700px;
    box-shadow: 0 0 4px #333333;
    border-radius: 3px;
}

.article-list-item:hover {
    background: #f8f8ff5c;
}

.article-list li a {
    color: #000;
}

.article-list-h1 {
    margin: 10px 0 15px;
    border-left: 4px solid #00b3dc;
    padding-left: 12px;
    font-size: 20px;
}

.article-list-h1description {
    color: #777;
    font-size: 13px;
    margin-bottom: 20px;
}

.article-list-container {
    overflow: hidden;
    margin: 5px 20px;
    padding-bottom: 30px;
}

.article-list-container h2 {
    font-size: 20px;
    margin: 10px 10px 15px;
    line-height: 34px;
}

.article-list-container img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 20px;
}

.article-list-containersub {
    overflow: hidden;
}

.article-thumbnail {
    font-size: 15px;
    line-height: 25px;
    color: #777;
}

.article-list-tag {
    overflow: hidden;
    margin-top: 10px;
}

blockquote {
    position: relative;
    padding: 10px 25px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    border: solid 3px #2d8fdd;
    margin-bottom: 60px;
    margin-top: -50px;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 0 0 30px;
    vertical-align: middle;
    content: "“";
    font-family: FontAwesome;
    background: #2d8fdd;
    color: #FFF;
    font-size: 22px;
    line-height: 1;
    font-weight: 900;
}

blockquote p {
    position: relative;
    padding: 0;
    margin: 10px 0 !important;
    z-index: 3;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.pagination {
    text-align: center;
}

.pagination span {
    margin: 0 2px;
}

.pagination span a {
    padding: 10px;
    display: inline-block;
    border: 1px #444 solid;
    border-radius: 5px;
}

.pagination .active {
    padding: 10px;
    display: inline-block;
    border: 1px #444 solid;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}



/*  - main-content end - */

/*  - sidebar start - */

.sidebar {
    width: 300px;
    float: right;
}

.sidebar-headline {
    border-bottom: 1px solid #000;
    border-left: 3px solid #000;
    padding: 5px 0 5px 8px;
    margin: 25px 0 10px;
}

.sidebar-tag-list {
    overflow: hidden;
}

.social-list {
    overflow: hidden;
    text-align: center;
}

.social-list ul {
    list-style-type: none;
    margin: 12px 0;
}

.social-list ul li {
    display: inline-block;
    font-size: 11px;
    width: 45px;
    text-align: center;
    margin: 0 10px;
}

.social-list ul li img{
    width: 50px;
}


.sidebar-article-list li {
    border-bottom: 1px solid #ccc;
}

.sidebar-article-list li a {
    display: block;
    padding: 10px 0;
}

.sidebar-article-list li a img {
    width: 60px;
    float: left;
    margin-right: 20px;
}

.sidebar-article-list li a p {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    height: 60px;
}

.searchform-box {
    line-height: 20px;
    width: 180px;
    margin: 8px 0px;
}

.searchform-submit {
    background: #000;
    color: #fff;
    width: 55px;
    height: 24px;
}

.category-list {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.category-list a {
    display: block;
    padding: 15px;
}

.tag-list {
    float: left;
    background: #434343;
    color: #fff !important;
    font-size: 13px;
    border-radius: 5px;
    margin: 8px 3px 5px;
    padding: 5px 10px;
    display: block;
    color: #fff;
}

/*  - sidebar end - */

/*  - footer start - */

.footer {
    background: #f7f7f7 !important;
    margin-top: 60px;
}

.footer-contents {
    width: 1050px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 25px;
}

.profile {
    font-size: 13px;
    width: 600px;
    float: left;
}

.profile img {
    float: left;
    margin-right: 20px;
    width: 100px;
}

.footer-headline {
    font-size: 17px;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
    margin: 20px 0;
}

.profile-contents {
    float: left;
}

.profile-contents p {
    font-weight: bold;
    margin: 20px 0 10px;
}

.profile-contents li {
    margin-bottom: 5px;
}

.rights-reserved {
    background: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    border-bottom: 5px solid #3398e2;
}

/*  - footer end - */

/*  - static start - */

.contact-form {
    font-size: 14px;
}

.contact-form dl {
    display: table;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px dotted #eee;
}

.contact-form dt {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}

.contact-form dd {
    display: table-cell;
    width: 75%;
}

.contact-form input, .contact-form textarea {
    padding: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 80%;
}

.contact-submit-container {
    text-align: center;
    margin: 20px 0;
}

.contact-submit-container .contact-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3398e2;
    color: #fff;
    width: 100px;
}

.contact-form textarea {
    height: 300px;
}

.checkbox input {
    width: initial !important;
}

.checkbox label {
    margin: 5px 0;
    display: inline-block;
}

.errorlist {
    background-color: rgba(255, 0, 0, 0.14);
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-must-icon {
    display: inline-block;
    padding: 3px 5px;
    background-color: #3398e2;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 8px;
}

.back-top {
    text-align: center;
    margin-top: 30px;
}

.back-top a {
    padding: 10px 20px;
    background-color: #3398e2;
    color: #fff;
    width: 100px;
    border-radius: 5px;
    font-size: 12px;
}


/*  - static end - */

/*  ------------------- orinal css end ------------------- */
