<article class="article">
<h1 class="article-list-h1">問い合わせ</h1>
<div class="article-list-h1description"></div>
<form method="post" class="contact-form">
    {% csrf_token %}
    <dl>
    {{ form.title.errors }}
    <dt><label for="id_title">件名<span class="form-must-icon">必須</span></label></dt>
    <dd>{{ form.title }}</dd>
    </dl>
    <dl>
    <dt><label for="id_email">メールアドレス<span class="form-must-icon">必須</span></label></dt>
    <dd>{{ form.email }}</dd>
    </dl>
    <dl>
    <dt><label for="id_puroose">目的<span class="form-must-icon">必須</span></label></dt>
    <dd class="checkbox">
        {{ form.choice.errors }}
        {{ form.choice }}
    </dd>
    </dl>
    <dl>
    <dt><label for="id_message">問い合わせ内容<span class="form-must-icon">必須</span></label></dt>
    <dd>{{ form.message }}</dd>
    </dl>
    <div class="contact-submit-container"><input type='submit' value='送信する' class="contact-submit"></div>
</form>
</article>