{% extends "base.html" %}
{% load blog_extras %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="{% static '/js/getBlogPostPagination.js' %}"></script>
{% endblock %}
{% block title %}{{ blogcategory.name }} - {% trans "webディレクターブログ" %}{% endblock %}

{% block breadcrumbs %}
{% if blogcategory %}
<li><a href="{% url 'blog:top' %}">Home</a><span class="arrow"></span></li>
<li><a href="">{{ blogcategory.name }}</a></li>
{% endif %}
{% endblock breadcrumbs %}

{% block content %}
<article class="article">
    {% if blogcategory %}
        <h1 class="article-list-h1">{{ blogcategory.name }}</h1>
        <div class="article-list-h1description">{{ blogcategory.description }}</div>
    {% endif %}

    {% if latest_post_list %}
        <ul class="article-list">
            {% include 'blog/components/postlist.html' %}
        </ul>
        {% include 'blog/components/pagination.html' %}
    {% else %}
        <p>{% trans "記事がありません。" %}</p>
    {% endif %}
</article>
{% endblock content %}

{% block extrajs %}
let getPageAjaxUrl = '{{ ajax_url }}'
{% endblock %}