{% extends "base.html" %}
{% load blog_extras %}

{% block title %}webディレクターブログ{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'blog:top' %}">Home</a></li>
{% endblock breadcrumbs %}


{% block content %}
<article class="article">
    {% if latest_post_list %}
        <ul class="article-list">
        {% include 'blog/includes/postlist.html' %}
        </ul>
        {% include 'blog/includes/pagination.html' %}
    {% else %}
        <p>記事がありません。</p>
    {% endif %}
</article>
{% endblock content %}