{% load i18n %}
<ul class="site-about">
    <li>
        <i class="fas fa-language margin-right-10px"></i>
        <span class="margin-right-10px active-border"><a href="/en">{% trans "英語" %}</a></span>
        <span class=""><a href="/">{% trans "日本語" %}</a></span>
    </li>
    <li><a href="https://twitter.com/naoki_web"><i class="fas fa-address-card margin-right-10px"></i>{% trans "プロフィール" %}</a></li>
    <li><a href="{% url 'contact' %}"><i class="far fa-envelope margin-right-10px"></i>{% trans "お問い合わせ" %}</a></li>
</ul>
