<!DOCTYPE html>
{% load static %}
{% load blog_extras %}
<html lang="{{ LANGUAGE_CODE|default:'ja' }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style_sp.css' %}" />
<link rel="shortcut icon" type="image/x-icon" href="{% static "blog/img/profile.png" %}">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
<meta name="description" content="{% block meta_description %}{% endblock %}">
{% block extrahead %}{% endblock %}
</head>
<body>

<header class="header">
<div class="header-wrap">
<div class="site-name">
<a href="/">
<div class="logo">
    <img src="{% static "blog/img/logo.png" %}" alt="webディレクター ロゴ">
</div>
<p>webディレクターブログ</p>
</a>
</div>

</div>


<div class="category-wrap">
<nav class="category-navi">
{% get_blogcategory %}
</nav>
</div>
</header>
<!--<div class="google-ad">-->
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!--&lt;!&ndash; sp_banner_header &ndash;&gt;-->
    <!--<ins class="adsbygoogle"-->
         <!--style="display:inline-block;width:320px;height:100px"-->
         <!--data-ad-client="ca-pub-8066096747233555"-->
         <!--data-ad-slot="3105731429"></ins>-->
    <!--<script>-->
    <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
    <!--</script>-->
<!--</div>-->

<div class="container">
    <div class="main-content">

        {% block content %}
          {{ content }}
        {% endblock %}

        <div class="sidebar">

        {% get_latestbloglist %}

        <!--<div class="google-ad">-->
            <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
            <!--&lt;!&ndash; sp_rectangle_footer &ndash;&gt;-->
            <!--<ins class="adsbygoogle"-->
                 <!--style="display:inline-block;width:300px;height:250px"-->
                 <!--data-ad-client="ca-pub-8066096747233555"-->
                 <!--data-ad-slot="6198798620"></ins>-->
            <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
            <!--</script>-->
        <!--</div>-->

        <div>
            <p class="sidebar-headline">SNSフォロー</p>
            <nav class="social-list">
                <ul class="icon-navigation">
                    <li><a href="https://twitter.com/Webdirectorblog"><img src="{% static "blog/img/tw_mono.png" %}" alt="twitter" class="icon-image"></a></li>
                    <li><a href="https://www.facebook.com/webdirectorblog/"><img src="{% static "blog/img/fb_mono.png" %}" alt="facebook" class="icon-image"></a></li>
                    <li><a href="http://b.hatena.ne.jp/entrylist?url=http%3A%2F%2Fwebdirector-blog.com%2F"><img src="{% static "blog/img/hatebu_mono.png" %}" alt="hatebu" class="icon-image"></a></li>
                    <li><a href="{% url 'blog:feeds' %}"><img src="{% static "blog/img/rss_mono.png" %}" alt="rss" class="icon-image"></a></li>
                </ul>
            </nav>
        </div>
        <!--<div class="search-in-site">-->
            <!--<p class="sidebar-headline">サイト内検索</p>-->
            <!--<form method="get" class="searchform" action="">-->
                <!--<input type="text" class="searchform-box" name="s" id="search_box" value="" placeholder="例）blog">-->
                <!--<input type="submit" name="submit" class="searchform-submit" value="検索">-->
            <!--</form>-->
        <!--</div>-->
        <div class="sidebar-tag-list">
            <p class="sidebar-headline">タグリスト</p>
            {% get_taglist %}
        </div>
    </div>
</div>
</div>

<footer class="footer">
    <div class="footer-contents">
        <div class="profile">
            <p class="footer-headline">プロフィール</p>
            <img src="{% static "blog/img/duck.png" %}" alt="webディレクター プロフィール画像">
            <div class="profile-contents">
                {% include 'blog/includes/profile.html' %}
            </div>
        </div>
        <div class="footer-tag-list">
            <p class="footer-headline">タグリスト</p>
            {% get_taglist %}
        </div>
    </div>
    <div>
    <nav class="site-navi">
        <ul class="site-about">
            <li><a href="{% url 'blog:about' %}"><span class="site-about-img"></span>webディレクターブログとは？</a></li>
            <li><a href="{% url 'blog:contact' %}"><span class="contact-img"></span>お問い合わせ</a></li>
        </ul>
    </nav>
    </div>
    <div class="rights-reserved">
        <p>© 2014 webdirector-blog All Rights Reserved.</p>
    </div>
</footer>

</body>
</html>