{% extends "base.html" %}
{% load blog_extras %}
{% load static %}

{% block title %}webディレクターブログ{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static '/js/getBlogPostPagination.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'blog:top' %}">Home</a></li>
{% endblock breadcrumbs %}


{% block content %}
<article class="article">
    {% if latest_post_list %}
        <ul class="article-list">
        {% include 'blog/components/postlist.html' %}
        </ul>
        {% include 'blog/components/pagination.html' %}
    {% else %}
        <p>記事がありません。</p>
    {% endif %}
</article>
{% endblock content %}

{% block extrajs %}
let getPageAjaxUrl = '{{ ajax_url }}'
{% endblock %}