{% load blog_extras %}

{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">前へ</a></span>
        {% endif %}
        {% for page in page_obj.number|specify_range:2 %}
            {% if page > 0 and page <= page_obj.paginator.num_pages %}
                {% if page == page_obj.number %}
                    <span class="active">{{ page }}</span>
                {% else %}
                    <span><a href="?page={{ page }}">{{ page }}</a></span>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <span><a href="?page={{ page_obj.next_page_number }}">次へ</a></span>
        {% endif %}
    </div>
{% endif %}